body {
    background-color: rgb(245, 244, 244);
}
.container {
    padding: 0px;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
    border-radius: 10px;
}

#formTitle {
    background-color: steelblue;
    height: 100px;
    padding-top: 20px;
    color: white; 
    font-weight: 700;
}

.form-container {
    max-width: 300px;
    background-color: white;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
    border-radius: 10px;
}

.headingText {
    font-weight: 700;
}

.input-group-text {
    border: 0px;
    border-radius: 0px;
    padding-right: 2px;
    color: steelblue;
    background-color: inherit;
}

.form-control {
    border: 0px;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

#sign-in-btn {
    margin: auto;
    width: 100px;
    height: 35px;
}

#forgotPassword {
    margin-top: 20px;
    font-size: 0.8rem;
}


a { 
    color: gray
}

#altLoginDivider {
    display: flex;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

#altLogin {
    display: flex;
    justify-content: center;
}

.loginIcons {
    margin: 20px;
    /* border: 1px solid steelblue; */
    padding: 4px;
    border-radius: 5px;
    width: 100px;
    background-color: white;
    transition-delay: .25s
}

.facebook-btn{
    border: 1px solid steelblue;
}

.google-btn{
    border: 1px solid #DD4B39;
}

.icon-facebook {
    color: steelblue;
}

.icon-google {
    color: #DD4B39;
}

.google-btn:hover,.facebook-btn:hover{
    transform: scale(1.2);
}

hr {
    width: 70px;
    border: 1px solid steelblue;
}
